{%extends 'base/baseHabitacion.html'%}


{% block content %}

<table class="table table-border">
  
    {% if object_list %}
    <thead>
      <tr>
        <td>#</td>
        <td> Pais </td>
        <td> Nacionalidad </td>
        <td> Acciones </td>
  
      </tr>
    </thead>
    <tbbody>

    {% for nacionalidad in object_list %}
    <tr>

      <td> {{nacionalidad.id_Nacionalidad}} </td>
      <td> {{nacionalidad.pais}} </td>
      <td> {{nacionalidad.nacionalidad}} </td>
      <td><a class="btn btn-warning" href="{% url 'nacionalidad_delete' nacionalidad.id_Nacionalidad %}">Eliminar</a>
        <a class="btn btn-info" href="{% url 'nacionalidad_edit' nacionalidad.id_Nacionalidad %}">Editar</a></td>
    
    </tr>
    {% endfor %}
    {% else %}
    <h1>No se ha encontrado información</h1>
    {% endif %}
  </tbbody>
</table>

<a class="btn btn-Warning" href="{% url 'nacionalidad_agregar' %}"><h5>Regresar</h5>
</a>

{% endblock %}